<article id="Widget_ListLayer" class="widget-panel widget-container">
  <p class="widget-heading all-scroll contenido">
    <i class="fa fa-layer-group"></i>&nbsp;
    {{nls.widget.name}}
    <span class="panel-btn icon is-small" title="{{nls.panel.off}}">
      <i class="fa fa-times"></i>
    </span>
    <span class="panel-btn icon is-small">
      <i class="fa fa-angle-up" title="{{nls.panel.min}}"></i>
      <i class="fa fa-angle-down" title="{{nls.panel.max}}"></i>
    </span>
  </p>
  <div class="widget-content">
    <!--
    <figure>
      <img src="https://bulma.io/images/placeholders/96x96.png">
      <figcaption>Hola Mundo</figcaption>
    </figure>
    -->
  </div>
</article>

